[submodule "cwtb-consumer"]
	path = consumer
	url = https://github.com/codebam/cwtb-consumer.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/codebam/tux-robot-webapp
[submodule "ai-workflow"]
	path = ai-workflow
	url = https://github.com/codebam/ai-workflow.git
